table {
    border: 1px solid grey;
    border-collapse: collapse;
    text-align: left;
    padding-right: 30px;
}

th {
    border: 1px solid grey;
    padding-right: 30px;
}

td {
    border: 1px solid grey;
    padding-right: 30px;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.365);
}

tr:hover {
    background-color: aqua;
}